#coplay {
    position: fixed;
    left: 2em;
    bottom: 1em;
    width: 3em;
    height: 3em;
    z-index: 2147483647; /* max integer */
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 3px #000;
    background-color: rgba(0, 0, 0, 0.75);
    background-clip: padding-box;
    transition: width ease-in-out 0.3s;
    font-size: 12px;
    box-sizing: content-box;
}

#coplay.active {
    width: 43em;
}

#coplay.active #coplay-toggle {
    color: #c33;
    text-shadow: 0 1px 0 #333;
}

#coplay * {
    box-sizing: border-box;
}

#coplay input,
#coplay button {
    float: left;
    height: 3em;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #eee;
    font-size: inherit;
    font-family: inherit;
    line-height: 3em;
    outline: none;
}
#coplay button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

#coplay input {
    width: 11em;
    padding: 0 1em;
    font-family: Consolas, monospace;
    text-align: left;
}

#coplay input + input,
#coplay input + button,
#coplay button + input,
#coplay button + button {
    border-left: none;
}

#coplay input::-moz-placeholder {
    font-family: inherit;
    color: #999;
}
#coplay input::-webkit-input-placeholder {
    font-family: inherit;
    color: #999;
}
#coplay input:focus::-moz-placeholder {
    color: #ccc;
}
#coplay input:focus::-webkit-input-placeholder {
    color: #ccc;
}

#coplay input:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

#coplay button {
    width: 3em;
    padding: 0;
    border-radius: 0;
    text-align: center;
}

#coplay button:hover:not(:disabled) {
    color: #fff;
    text-shadow: 0 1px 0 #111;
    background-color: rgba(255, 255, 255, 0.5);
}

#coplay button:not(:disabled) {
    cursor: pointer;
}

#coplay button:disabled {
    opacity: 0.3;
}

#coplay button:active {

}

@font-face {
  font-family: 'coplay';
  src: url(coplay.woff);
  font-weight: normal;
  font-style: normal;
}

[class^="coplay-"]:before, [class*=" coplay-"]:before {
  font-family: "coplay";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.coplay-fullscreen:before { content: '\e800'; } /* '' */
.coplay-exit-fullscreen:before { content: '\e801'; } /* '' */
.coplay-call:before { content: '\e802'; } /* '' */
.coplay-sync:before { content: '\e809'; } /* '' */
.coplay-play:before { content: '\e80a'; } /* '' */
.coplay-pause:before { content: '\e80b'; } /* '' */
.coplay-restart:before { content: '\e80c'; } /* '' */
.coplay-cancel:before { content: '\e80d'; } /* '' */
.coplay-heart:before { content: '\e80e'; } /* '' */
.coplay-plug:before { content: '\f1e6'; } /* '' */

#coplay-fullscreen .coplay-exit-fullscreen,
#coplay-fullscreen.active .coplay-fullscreen {
    display: none;
}

#coplay-fullscreen.active .coplay-exit-fullscreen {
    display: inline-block;
}

.coplay-fullscreen-container:fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}
.coplay-fullscreen-container:-webkit-full-screen {
    width: 100vw !important;
    height: 100vh !important;
}
.coplay-fullscreen-container:-moz-full-screen {
    width: 100vw !important;
    height: 100vh !important;
}

@keyframes shift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 64px 0;
  }
}
#coplay-local-video,
#coplay-remote-video {
    position: fixed;
    top: 10px;
    z-index: 2147483647;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 3px #000;
    background-size: 64px 64px;
    background-clip: padding-box;
    animation: shift 2s linear infinite;
}
#coplay-local-video {
    right: 340px;
    width: 160px;
    height: 120px;
    transform: rotateY(180deg);
}
#coplay-remote-video {
    right: 10px;
    width: 320px;
    height: 240px;
    background-image: repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) 25%,
        rgba(255, 255, 255, 0.4) 25%,
        rgba(255, 255, 255, 0.4) 50%
    );
}
